ext/** linguist-vendored

* text=auto
*.cpp text
*.h text
*.exe binary
*.dll binary
*.png binary
*.jpg binary
scripts/* linguist-vendored
*.cmake linguist-vendored
**/CMakeLists.txt linguist-vendored
cmake/* linguist-vendored
*.cpp linguist-language=C++
*.h linguist-language=C++
