name: C++ Build (Magazin CD-uri)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up g++
        run: sudo apt-get install -y g++

      - name: Build project
        run: g++ -std=c++17 main.cpp CD.cpp CLIENT.cpp COMANDA.cpp MAGAZIN.cpp -o magazin_cd

      - name: Run executable
        run: ./magazin_cd || true
