name: C++ Build (Magazin CD-uri)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up g++
        run: sudo apt-get update && sudo apt-get install -y g++

      - name: Build project
        run: |
          mkdir -p bin
          g++ -std=c++17 main.cpp CD.cpp CLIENT.cpp COMANDA.cpp MAGAZIN.cpp ADRESA.cpp -o bin/magazin_cd

      - name: Upload artifact
        uses: act

