name: C++ CI

on:
  push:
    branches: ['**'] # NOTE: replace/update with appropriate branch name(s)
    tags: ['**']
  # pull_request:
  #   branches: ['**'] # NOTE: replace/update with appropriate branch name(s)
  workflow_dispatch:
    inputs:
      build_type:
        description: Build type
        required: false
        default: 'Debug'
        type: choice
        options:
          - Debug
          - Release
          - RelWithDebInfo
          - MinSizeRel

env:
  BUILD_TYPE: ${{ inputs.build_type || 'Debug' }}
  # NOTE: update executable name if it is changed in CMakeLists.txt
  EXECUTABLE_NAME: "MagazinCDuri_app"
  INPUT_FILENAME: "tastatura.txt"
  BIN_DIR: "bin"       # update in cmake/Options.cmake:6 if changing name here
  BUILD_DIR: "build"
  EXT_DIR: "ext"


defaults:
  run:
    # Use a bash shell, so we can use the same syntax for environment variable
    # access regardless of the host operating system
    # https://github.com/saxbophone/CPP20-Cross-Platform-Template
    shell: bash

jobs:
  cppcheck:
    name: "Cppcheck"
    # concurrency:
    #   group: "Cppcheck"
    # renovate: depName=ubuntu
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    env:
      # check https://github.com/danmar/cppcheck/releases for latest version
      # NOTE: consider updating this value in scripts/build_cppcheck.sh:4 when changing this value
      # renovate: datasource=github-tags depName=danmar/cppcheck versioning=loose
      CPPCHECK_VER: "2.18.1"
    steps:
      - name: Checkout repo
        # renovate: datasource=github-tags depName=actions/checkout versioning=loose
        uses: actions/checkout@v5.0.0

      - name: Run cppcheck
        uses: ./.github/actions/cppcheck

  clang-tidy:
    name: "Clang-Tidy"
    # concurrency:
    #   group: "Clang-Tidy"
    # renovate: depName=ubuntu
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    env:
      CLANG_VER: 18
    steps:
      - name: Checkout repo
        # renovate: datasource=github-tags depName=actions/checkout versioning=loose
        uses: actions/checkout@v5.0.0

      - name: Run clang-tidy
        uses: ./.github/actions/clang-tidy


  build:
    name: ${{ matrix.name }}
    # concurrency:
    #   group: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 8
    permissions:
      attestations: write
      contents: write
      id-token: write

    env:
      CC: ${{ matrix.c }}
      CXX: ${{ matrix.cxx }}
      VSCMD_SKIP_SENDTELEMETRY: 1

