name: C++ CI

on:
  push:
    branches: ['*']
    tags: ['*']
  pull_request:
    branches: ['*']
  workflow_dispatch:
    inputs:
      build_type:
        description: Build type
        required: false
        default: 'Debug'
        type: choice
        options:
          - Debug
          - Release
          - RelWithDebInfo
          - MinSizeRel

env:
  BUILD_TYPE: ${{ inputs.build_type || 'Debug' }}
  EXECUTABLE_NAME: "MagazinCDuri_app"
  INPUT_FILENAME: "comenzi.json"
  BIN_DIR: "bin"
  BUILD_DIR: "build"
  EXT_DIR: "ext"
  GEN_DIR: "generated"

defaults:
  run:
    shell: bash

jobs:
  cppcheck:
    runs-on: ubuntu-22.04
    name: "Cppcheck"
    timeout-minutes: 5
    env:
      CPPCHECK_VER: "2.14.2"
    steps:
      - uses: actions/checkout@v4
      - name: Run cppcheck
        uses: ./.github/actions/cppcheck

  clang-tidy:
    runs-on: ubuntu-22.04
    name: "Clang-Tidy"
    timeout-minutes: 6
    env:
      CLANG_VER: 18
    steps:
      - uses: actions/checkout@v4
      - name: Run clang-tidy
        uses: ./.github/actions/clang-tidy

  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    permissions:
      contents: write
      id-token: write
      attestations: write
    env:
      CC: ${{ matrix.c }}
      CXX: ${{ matrix.cxx }}
      VSCMD_SKIP_SENDTELEMETRY: 1
      SFML_VERSION: "2023-11-04-2.6.1"
      MINGW_VER: "13.3.0posix-11.0.1-msvcrt-r1/winlibs-x86_64-posix-seh-gcc-13.3.0-mingw-w64msvcrt-11.0.1-r1.7z"

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            c: gcc-12
            cxx: g++-12
            name: "ASan Ubuntu GCC"
            cmake_flags: "-DUSE_ASAN=ON -DBUILD_SHARED_LIBS=FALSE"
            cmake_generator: Ninja
            runs_asan: true
          - os: ubuntu-22.04
            c: gcc-12
            cxx: g++-12
            name: "Valgrind Ubuntu GCC"
            cmake_flags: "-DBUILD_SHARED_LIBS=FALSE"
            cmake_generator: Ninja
            runs_valgrind: true
          - os: macos-14
            c: clang
            cxx: clang++
            name: "macOS Clang"
            cmake_flags: "-DUSE_ASAN=OFF -DSFML_BUILD_FRAMEWORKS=FALSE -DSFML_DEPENDENCIES_INSTALL_PREFIX=$GITHUB_WORKSPACE/artifacts"
          - os: windows-2022
            c: cl
            cxx: cl
            name: "Windows MSVC ASan"
            cmake_flags: "-DUSE_ASAN=ON -DBUILD_SHARED_LIBS=TRUE"
          - os: windows-2022
            c: gcc
            cxx: g++
            name: "Windows MinGW GCC"
            cmake_flags: "-DBUILD_SHARED_LIBS=TRUE"
            cmake_generator: Ninja

    steps:
      - uses: actions/checkout@v4

      - name: Set timestamp and zip name
        run: |
          echo "TIMESTAMP=$(date +%Y-%m-%d-%H-%M-%S)" >> ${GITHUB_ENV}
          echo "ZIP_NAME=$(echo "${GITHUB_REPOSITORY}_${{ env.BUILD_TYPE }}_${{ matrix.os }}_${{ matrix.cxx }}" | sed 's|/|_|')" >> ${GITHUB_ENV}

      - name: Install packages
        uses: ./.github/actions/install-packages

      - name: Configure CMake
        uses: ./.github/actions/configure-cmake
        with:
          custom_flags: ${{ matrix.cmake_flags }}
          warnings_as_errors: 'ON'

      - name: Build
        run: bash ./scripts/cmake.sh build -c ${{ env.BUILD_TYPE }}

      - name: Install
        run: bash ./scripts/cmake.sh install -i artifacts -c ${{ env.BUILD_TYPE }}

      - name: Debug artifacts
        run: |
          echo "Listing installed files in artifacts:"
          ls -R artifacts/

      - name: Move artifacts
        run: |
          ZIP_DIR="${ZIP_NAME}_${TIMESTAMP}"
          mkdir -p "$ZIP_DIR"
          cp -r artifacts/${BIN_DIR}/${BUILD_TYPE}/* "$ZIP_DIR"/
          echo "Contents of $ZIP_DIR:"
          ls -la "$ZIP_DIR"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "${ZIP_NAME}_${TIMESTAMP}"
          path: "${ZIP_NAME}_${TIMESTAMP}"
          retention-days: 30

      - name: Runtime checks
        run: |
          EXEC_PATH="artifacts/${BIN_DIR}/${BUILD_TYPE}/${EXECUTABLE_NAME}"
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            EXEC_PATH="${EXEC_PATH}.exe"
          fi

          if [[ ! -f "$EXEC_PATH" ]]; then
            echo "Error: Executable not found at $EXEC_PATH"
            exit 1
          fi

          echo "Listing artifacts folder:"
          ls -la "artifacts/${BIN_DIR}/${BUILD_TYPE}"

          echo "Running the executable with input:"
          if [[ "${RUN_TYPE}" == *Valgrind* ]]; then
            valgrind --leak-check=full "$EXEC_PATH" < "${INPUT_FILENAME}"
          else
            "$EXEC_PATH" < "${INPUT_FILENAME}"
        env:
          RUN_TYPE: ${{ matrix.name }}
          BUILD_TYPE: ${{ env.BUILD_TYPE }}
          EXECUTABLE_NAME: ${{ env.EXECUTABLE_NAME }}
          BIN_DIR: ${{ env.BIN_DIR }}
          INPUT_FILENAME: ${{ env.INPUT_FILENAME }}

      - name: Create release
        if: startsWith(github.ref, 'refs/tags/')
        uses: ./.github/actions/create-release

